<Files ".gitignore">
    Require all denied
</Files>
<Files "Dockerfile">
    Require all denied
</Files>
<Files "docker-compose.yml">
    Require all denied
</Files>
<Files "*.sql">
    Require all denied
</Files>
